@import 'base/index.pcss';
@import 'components/index.pcss';
@import 'utilities/index.pcss';

@layer components {
  code {
    @apply bg-[#111] border-opacity-10 rounded py-0.5 !font-normal px-2 mx-0 border border-white !text-yellow-100;
  }
}
