@import 'base/index.pcss';
@import 'components/index.pcss';
@import 'utilities/index.pcss';

@layer components {
  code {
    @apply bg-black border-opacity-20 rounded py-1 px-2 border border-white;
  }
}
